@import "tailwindcss";

/* app/globals.css
@import "tailwindcss/preflight";
@tailwind utilities; */

/* You can add custom global styles here */
html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
}
